@using AsistenciaShalom.AccesoDatos.Dto

@model GrupoDto
@{
    ViewData["Title"] = "Editar Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Menu"] = "Mantenimiento";
    ViewData["Controlador"] = "Grupo";

    List<SelectListItem> listaTipoGrupo = ViewBag.listaTipoGrupo;
    var mostrarError = ViewBag.MostrarError;
}

<form asp-controller="Grupo" asp-action="Editar" method="post" id="frmEnviar">
    <div class="card">

        <div class="card-header">
            <div class="card-tools pull-left">
                <h4 class="card-title">@ViewData["Title"] </h4>
            </div>

            <div class="card-tools pull-right">

            </div>
        </div>

        <div class="card-body">

            <div class="row">

                <input type="hidden" id="hdnIdGrupo" class="form form-control" asp-for="IdGrupo" />


                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Nombre"></label>
                        <input id="txtNombre" asp-for="Nombre" class="form form-control" maxlength="50" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                        @if (mostrarError)
                        {
                            <span class="text-danger">Este nombre de Grupo de oración ya existe</span>
                        }
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Descripcion"></label>
                        <input id="txtDescripcion" asp-for="Descripcion" class="form form-control" maxlength="150" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="FechaInicio"></label>
                        <input id="txtFechaInicio" asp-for="FechaInicio" class="form form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="FechaFin"></label>
                        <input id="txtFechaFin" asp-for="FechaFin" class="form form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="DiaReunion"></label>
                        <input id="txtDiaReunion" asp-for="DiaReunion" class="form form-control" maxlength="20" />
                        <span asp-validation-for="DiaReunion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Horario"></label>
                        <input id="txtHorario" asp-for="Horario" class="form form-control" maxlength="20" />
                        <span asp-validation-for="Horario" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="TipoGrupo"></label>
                        @Html.DropDownList("TipoGrupo", listaTipoGrupo, new { @id = "ddlTipoGrupo", @class = "form form-control" })
                        <span asp-validation-for="TipoGrupo" class="text-danger"></span>
                    </div>
                </div>


            </div>
        </div>

        <div class="card-action">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" id="btnGuardar" value="Guardar" />
                    <a asp-controller="Grupo" asp-action="Index" class="btn btn-danger">Regresar</a>
                </div>
            </div>
        </div>

    </div>

</form>


@section Scripts {


    <script>

        $('#btnGuardar').click(function () {

            var frmEnviar = document.getElementById("frmEnviar");

            var idGrupo = $('#hdnIdGrupo').val();
            var nombre = $('#txtNombre').val();
            var descripcion = $('#txtDescripcion').val();
            var fechaInicio = $('#txtFechaInicio').val();
            var fechaFin = $('#txtFechaFin').val();
            var diaReunion = $('#txtDiaReunion').val();
            var horario = $('#txtHorario').val();
            var tipoGrupo = $('#ddlTipoGrupo option:selected').val();


            var frm = new FormData();
            frm.append("IdGrupo", idGrupo)
            frm.append("nombre", nombre);
            frm.append("descripcion", descripcion);
            frm.append("fechaInicio", fechaInicio);
            frm.append("fechaFin", fechaFin);
            frm.append("diaReunion", diaReunion);
            frm.append("horario", horario);
            frm.append("tipoGrupo", tipoGrupo);
       

            $.ajax({
                type: 'POST',
                url: "/Grupo/Editar",
                data: frm,
                contentType: false,
                processData: false,
                success: function (data)
                 {
                        if (data.success)
                        {
                            correcto("El Grupo ha sido actualizado exitosamente");
                            window.location.href = "/Grupo";
                        }
                        else
                        {
                            advertencia("No se ha completado el registro. Favor revisar");
                            frmEnviar.submit();
                            //toastr.error(data.message);
                        }
                },
                error: function ()
                {
                    error("Ha ocurrido un error en el proceso");
                }

            });

        })


    </script>
}

