@{ 



}
    <div class="sidebar sidebar-style-2">
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <div class="user">
                    @*<div class="avatar-sm float-left mr-2">
                        <img src="~/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>*@
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                Kerwin
                                <span class="user-level">Administrator</span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#profile">
                                        <span class="link-collapse">My Profile</span>
                                    </a>
                                </li>
                                @*<li>
                                    <a href="#edit">
                                        <span class="link-collapse">Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="link-collapse">Settings</span>
                                    </a>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-primary">

                    @*<li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">MENÚ</h4>
                    </li>*@
                    @*---------------Menu Mantenimiento----------------*@

                    @if (ViewData["Menu"].ToString() == "Mantenimiento")
                    {
                        <li class="nav-item active submenu">

                            <a data-toggle="collapse" href="#mantenimiento" class="collapsed" aria-expanded="false">
                                <i class="fas fa-address-book"></i>
                                <p>Mantenimiento</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse show" id="mantenimiento">
                                <ul class="nav nav-collapse">
                                    @if (ViewData["Controlador"].ToString() == "Persona")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="Persona" asp-action="Index">
                                                <span class="sub-item">Personas</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="Persona" asp-action="Index">
                                                <span class="sub-item">Personas</span>
                                            </a>
                                        </li>
                                    }

                                    @if (ViewData["Controlador"].ToString() == "Grupo")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="Grupo" asp-action="Index">
                                                <span class="sub-item">Grupo</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="Grupo" asp-action="Index">
                                                <span class="sub-item">Grupo</span>
                                            </a>
                                        </li>
                                    }

                                    @if (ViewData["Controlador"].ToString() == "PersonaGrupo")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="PersonaGrupo" asp-action="Index">
                                                <span class="sub-item">Persona por Grupo</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="PersonaGrupo" asp-action="Index">
                                                <span class="sub-item">Persona por Grupo</span>
                                            </a>
                                        </li>
                                    }

                                    @if (ViewData["Controlador"].ToString() == "GrupoFase")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="GrupoFase" asp-action="Index">
                                                <span class="sub-item">Fases por Grupo</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="GrupoFase" asp-action="Index">
                                                <span class="sub-item">Fases por Grupo</span>
                                            </a>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#mantenimiento" class="collapsed" aria-expanded="false">
                                <i class="fas fa-address-book"></i>
                                <p>Mantenimiento</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="mantenimiento">
                                <ul class="nav nav-collapse">
                                    <li class="nav-li">
                                        <a asp-controller="Persona" asp-action="Index">
                                            <span class="sub-item">Personas</span>
                                        </a>
                                    </li>
                                    <li class="nav-li">
                                        <a asp-controller="Grupo" asp-action="Index">
                                            <span class="sub-item">Grupo</span>
                                        </a>
                                    </li>
                                    <li class="nav-li">
                                        <a asp-controller="PersonaGrupo" asp-action="Index">
                                            <span class="sub-item">Persona por Grupo</span>
                                        </a>
                                    </li>
                                    <li class="nav-li">
                                        <a asp-controller="GrupoFase" asp-action="Index">
                                            <span class="sub-item">Fases por Grupo</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    }

                    @*---------------Menu Administracion----------------*@
                    @if (ViewData["Menu"].ToString() == "Administracion")
                    {
                        <li class="nav-item active submenu">
                            <a data-toggle="collapse" href="#administracion">
                                <i class="fas fa-layer-group"></i>
                                <p>Administración</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse show" id="administracion">
                                <ul class="nav nav-collapse">
                                    @if (ViewData["Controlador"].ToString() == "Asignacion")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="Asignacion" asp-action="Index">
                                                <span class="sub-item">Asignación de Grupo</span>
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="Asignacion" asp-action="Index">
                                                <span class="sub-item">Asignación de Grupo</span>
                                            </a>
                                        </li>
                                    }

                                    @if (ViewData["Controlador"].ToString() == "AsignacionGrupoFase")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="AsignacionGrupoFase" asp-action="Index">
                                                <span class="sub-item">Asignación de Fase</span>
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="AsignacionGrupoFase" asp-action="Index">
                                                <span class="sub-item">Asignación de Fase</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#administracion">
                                <i class="fas fa-layer-group"></i>
                                <p>Administración</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="administracion">
                                <ul class="nav nav-collapse">
                                    <li class="nav-li">
                                        <a asp-controller="Asignacion" asp-action="Index">
                                            <span class="sub-item">Asignación de Grupo</span>
                                        </a>
                                    </li>
                                
                                    <li class="nav-li">
                                        <a asp-controller="AsignacionGrupoFase" asp-action="Index">
                                            <span class="sub-item">Asignación de Fase </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }

                    @*---------------Menu CONTROL----------------*@

                    @if (ViewData["Menu"].ToString() == "Control")
                    {
                        <li class="nav-item active submenu">
                            <a data-toggle="collapse" href="#control">
                                <i class="far fa-calendar-alt"></i>
                                <p>Control</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse show" id="control">
                                <ul class="nav nav-collapse">
                                    @if (ViewData["Controlador"].ToString() == "Reunion")
                                    {
                                        <li class="nav-li active">
                                            <a asp-controller="Reunion" asp-action="Index">
                                                <span class="sub-item">Asistencia</span>
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="nav-li">
                                            <a asp-controller="Reunion" asp-action="Index">
                                                <span class="sub-item">Asistencia</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#control">
                                <i class="far fa-calendar-alt"></i>
                                <p>Control</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="control">
                                <ul class="nav nav-collapse">
                                    <li class="nav-li">
                                        <a asp-controller="Reunion" asp-action="Index">
                                            <span class="sub-item">Asistencia</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
