@{
    ViewData["Title"] = "Home Page";

    ViewData["Menu"] = "Home";
    ViewData["Controlador"] = "Home";
}

    <div class="text-left">

        <span class="h1">Bienvenido(a) <strong>@ViewBag.Nombres!</strong></span>
        <p> 
            <span class="h2">Al Sistema de gestión y control de asistencias de la comunidad católica Shalom.</span>
        </p>


    </div>
